loader {
    @extend .block, .cover, .vh-min-12, .center;
    background-image: url("./../resources/splash.jpg");
    .progress {
        @extend .absolute, .w-4, .w-sm-2, .left-0, .right-0, .top-7, .bottom-0, .box-shadow, .shadow, .font-2;
        height: 0.75em;
        line-height: .8em;
        margin: auto;
        padding: 0.5em;
        border-radius: .7em;
        .bar {
            margin-top: 0.15em;
            border-radius: 1em;
            height: 0.5em;
        }
    }
}
