@import './../gride/$breakpoints.scss';
@import './@animal-square.scss';

@include animal-square;

@mixin size ($breakpoint) {
    @for $n from 0 through 6 {
        .font#{$breakpoint}-#{$n} {
            font-size: #{$n}em;
        }

        .font#{$breakpoint}-#{$n}-5 {
            font-size: #{$n + .5}em;
        }
    }
}

@mixin weight {

    @each $weight in (thin,
        lighter,
        light,
        normal,
        bold,
        bolder,
        black) {
        .font-#{$weight} {
            font-weight: $weight;
        }
    }
}

@mixin cesure {
    .hyphens {
        hyphens: auto;
    }

    .word-break {
        word-break: break-all;
    }
}

@mixin decoration {
    .pointer {
        cursor: pointer;
    }

    .initial {
        cursor: initial;
    }

    .shadow {
        text-shadow: .05em .05em #000;
    }

    .cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@include size('');
@include weight();
@include cesure();
@include decoration();

@each $breakpoint,
$min-width in $breakpoints {
    @media all and (min-width: #{$min-width}px) {
        @include size(-#{$breakpoint});
    }
}