<aside class="absolute right-0 bottom-0 center h-2 w-12 h-sm-12 w-sm-3">
    <div class="inline-block fix v-middle h-12 w-0"></div>
    <nav class="inline-block fix v-middle h-12 w-10">
        <div class="relative h-sm-6 center top-3 top-sm-0">
            <a class="absolute inline-block pointer right-1 left-sm-5 top-sm-5 cover next" ${
                square.score.hit && squaresLength !== square.level.number ? `onclick="slide(1)" `: `disabled`
            }></a>
        </div>
        <div class="relative h-sm-6 center top-3 top-sm-0">
            <a class="absolute inline-block pointer left-1 left-sm-5 top-sm-5 cover prev" ${
                1 !== square.level.number ? `onclick="slide(-1)" `: `disabled`
            }></a>
        </div>
    </nav>
</aside>