@import "./$positions.scss";
@import "./$overflows.scss";
@import "./$sides.scss";
@import "./../gride/$breakpoints.scss";

@mixin overflow() {
    @each $overflow in $overflows {
        @each $type in ("", -x, -y) {
            .overflow#{$type}-#{$overflow} {
                overflow#{$type}: $overflow;
            }
        }
    }
}

@mixin position($breakpoint) {
    @each $position in $positions {
        .#{$position}#{$breakpoint} {
            position: $position;
        }
    }
}

@mixin sides($breakpoint) {
    @each $side in $sides {
        @for $n from 0 through 12 {
            .#{$side}#{$breakpoint}-#{$n} {
                #{$side}: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
            }
        }
    }
}

@mixin transform() {
    @for $x from 0 to 4 {
        @for $y from 0 to 4 {
            .x-#{$x} {
                &.y-#{$y} {
                    transform: translate(#{percentage(floor(100 * $x) / 100)}, #{percentage(floor(100 * $y) / 100)});
                }
            }
        }
    }
}

@mixin zIndex() {
    @for $n from 1 to 10 {
        .z-#{$n} {
            z-index: $n;
        }
    }
}

@include position("");
@include overflow();
@include sides("");
@include transform();
@include zIndex();

@each $breakpoint, $min-width in $breakpoints {
    @media all and (min-width: #{$min-width}px) {
        @include position(-#{$breakpoint});
        @include sides(-#{$breakpoint});
    }
}
