square {
    @extend .inline-block;
    @extend .h-12;
    @extend .overflow-hidden;

    .level {
        margin-bottom: 1em;
    }

    .medail {
        img {
            width: 5em;
            max-width: 50%;
        }
    }

    .play {
        background-repeat: no-repeat;
        background-position: center 40%;
        background-size: auto 70%;
    }
}