@import "./puzzle/puzzle.component.scss";
@import "./score/score.component.scss";

square-puzzle {

    @extend .block,
    .vh-12,
    .w-12,
    .overflow-hidden;

    .bg-scene {
        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            background-position: center left;
        }
    }

    .bg-animal {
        background-size: 60% auto;

        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            background-size: 90% auto;
        }
    }

}