@import "./score/score.component.scss";
@import "./puzzle/puzzle.component.scss";
@import "./resume/resume.component.scss";

square-puzzle {
    @extend .block, .vh-12, .w-12, .overflow-hidden;
    notice {
        z-index: 9;
        background-size: auto 50%;
        background-position: 50% 35%;
    }
}
