<section class="bg-scene cover w-12 h-12 relative center"
    style="background-image: url(assets/images/animals/${square.animal.name}/${square.animal.name}-background.jpg)">

    <aside
        class="block absolute left-0 bottom-0 h-3 w-12 static-sm inline-block-sm fix-sm v-middle-sm h-sm-12 w-min-sm-2 w-sm-auto">
        <div class="inline-block fix v-middle h-12 w-0"></div>
        <div class="relative left h-12 yellow inline-block fix v-middle w-12 font-normal h-sm-auto ">
            <div class="inline-block fix v-middle h-12 w-0"></div>
            <h1
                class="inline-block fix center overflow-hidden word-break v-middle font-2 font-normal shadow w-4 block-sm w-sm-auto">
                Lvl
                <span class="red">${square.level.number}</span>
            </h1>
            <br class="none block-sm">
            <score></score>
        </div>
    </aside>

    <puzzle></puzzle>

    <aside
        class="bg-animal cover absolute right-0 bottom-0 h-3 w-4 static-sm inline-block-sm v-middle-sm h-sm-12 w-min-sm-2 w-sm-auto"
        style="background-image: url(assets/images/animals/${square.animal.name}/${square.animal.name}-color.png)">
    </aside>

</section>