<main class="h-12 slider slider-7 slider-target-${square.level.number}">
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
    <square class="inline-block fix h-12 center"></square>
</main>
<square-navigation class="block absolute right-0 bottom-0 center h-2 w-12 h-sm-12 w-sm-2"></square-navigation>