@import "./square/square.component.scss";
@import "./square-navigation/square-navigation.component.scss";

$squareNumber: 7;

square-list {
    @extend .block, .vh-12, .overflow-hidden;
    .slider {
        transition: transform 0.3s ease-out;
        @for $n from 1 to 10 {
            &.slider-#{$n} {
                width: 100% * $n;
                square[data-square-list] {
                    width: 100% / $n;
                }
            }
            &.slider-target-#{$n} {
                transform: translateX(-#{100% / $squareNumber * ($n - 1)});
            }
        }
        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            transition: transform 0.5s ease-out;
        }
    }
}
