$colors: (gray: (50: #FAFAFA,
        100: #F5F5F5,
        200: #EEEEEE,
        300: #E0E0E0,
        400: #BDBDBD,
        500: #9E9E9E,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
    ),
    white: #FFFFFF,
    black: #000000,
    green: #239122,
    green-light: #4faf4c,
    green-strong: #0c3109,
    yellow: #fffc00,
    yellow-light: #f3d66f,
    yellow-strong: #dea629,
    red: #f63116);