resume {
    .animal {
        background-size: 100% auto;
        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            background-position: center;
            background-size: 100% auto;
        }
    }
    .obfuscator {
        .pannel {
            @extend .z-9;
            height: 1em;
            margin: auto;
        }

        .pannel + div {
            @extend .z-8;
            height: 100%;
            opacity: 0.7;
        }
    }
}
