@import "./shared/components/notice/notice.component.scss";
@import "./error/error.component.scss";
@import "./loader/loader.component.scss";
@import "./ranking/ranking.component.scss";
@import "./square-list/square-list.component.scss";
@import "./square-puzzle/square-puzzle.component.scss";

app {
    @extend .vh-min-12, .vw-12, .block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .bg-scene {
        background-position: left;
        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            background-position: center;
        }
    }

    .medail {
        width: 3.7em;
        height: 5em;
    }
}
