notice {

    @extend .absolute,
    .h-12,
    .w-12,
    .top-0,
    .bottom-0,
    .left-0,
    .cover,
    .animate,
    .z-9;
    background-position: 50% 150%;
    background-size: auto 80%;

    @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
        background-position: 50%;
    }

    .text {
        @extend .absolute,
        .top-0,
        .right-0,
        .bottom-0,
        .left-0;
        height: 1em;
        line-height: 3em;
        margin: auto;

        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            line-height: 1em;
        }

    }

}