notice {

    @extend .absolute,
    .h-12,
    .w-12,
    .top-0,
    .bottom-0,
    .left-0,
    .cover,
    .animate,
    .z-9;
    background-size: auto 80%;

    .text {
        @extend .absolute,
        .top-0,
        .right-0,
        .bottom-0,
        .left-0;
        height: 1em;
        margin: auto;
    }

    &.pause {
        animation-play-state: paused !important;
    }
}