@keyframes animate-hide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150vh);
    }
}

@keyframes animate-show {
    0% {
        transform: translateY(-150vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animate-scroll {
    0% {
        transform: translateY(100vh);
    }
    20% {
        transform: translateY(10vh);
    }
    80% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.animate {
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &-hide {
        animation-name: animate-hide;
    }
    &-show {
        animation-name: animate-show;
    }
    &-scroll {
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-name: animate-scroll;
    }
    &-pass {
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-name: animate-scroll;
    }
}
