@keyframes animate-hide {
    0% {
        top: 0;
    }

    100% {
        top: -100vh;
    }
}

@keyframes animate-show {
    0% {
        top: 100vh;
    }

    100% {
        top: 0;
    }
}

.animate {
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &-hide {
        animation-name: animate-hide;
    }

    &-show {
        animation-name: animate-show;
    }
}