@keyframes animate-hide {
    0% {
        top: 0;
    }

    100% {
        top: -100vh;
    }
}


@keyframes animate-show {
    0% {
        top: -100vh;
    }

    100% {
        top: 0;
    }
}

@keyframes animate-scroll {
    0% {
        top: 100vh;
    }

    20% {
        top: 10vh;
    }

    80% {
        top: -10vh;
    }

    100% {
        top: -100vh;
    }
}

.animate {
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &-hide {
        animation-name: animate-hide;
    }

    &-show {
        animation-name: animate-show;
    }

    &-scroll {
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-name: animate-scroll;
    }

}