square {
    @extend .inline-block,
    .h-12,
    .center;

    .fix-left {
        margin-left: -.25em;

        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            margin-left: 0;
        }
    }

    .bg-scene {
        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            background-position: center left;
        }
    }

    .medail {
        width: 3.7em;
        height: 5em;
    }

    .gride {
        background-position: center 40%;
        background-size: auto 70%;
        background-repeat: no-repeat;
        margin: auto;
        height: 100vw;
        max-width: 70vh;
        max-height: 70%;

        @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
            max-width: 60%;
            max-height: 60vw;
            height: 100%;
            width: 100vh;
            margin-right: 16.66% !important;
        }
    }

}