<section class="bg-scene cover w-12 h-12 relative"
    style="background-image: url(assets/images/animals/${square.animal.name}/${square.animal.name}-background.jpg)">

    <aside
        class="block absolute left-0 bottom-0 h-3 w-12 static-sm inline-block-sm fix-sm v-middle-sm h-sm-12 w-min-sm-2 w-sm-auto">
        <div class="inline-block fix v-middle h-12 w-0"></div>
        <div class="relative left h-12 yellow inline-block fix v-middle w-12 font-normal h-sm-auto">
            <div class="inline-block fix v-middle h-12 w-4 w-sm-0"></div>
            <h1
                class="none center fix-sm overflow-hidden word-break v-middle font-2 font-normal shadow w-4 block-sm w-sm-auto">
                Lvl
                <span class="red">${square.level.number}</span>
            </h1>
            <br class="none block-sm">
            <div class="inline-block fix fix-left v-middle w-4 center w-sm-12">
                <span class="medail inline-block cover"
                    style="background-image: url(assets/images/items/medails/medail-black.png)"></span>
                <p class="shadow">${square.score.hit}</p>
            </div>
        </div>
    </aside>

    <article
        class="gride block absolute top-0 bottom-3 w-12 left-0 right-0 static-sm inline-block-sm fix-sm v-middle-sm"
        style="background-image: url(assets/images/animals/${square.animal.name}/${square.animal.name}-${square.score.hit ? `color` : `black`}.png)">
        <div class="inline-block fix v-middle h-12 w-0"></div>
        <h2 class="font-6 yellow shadow inline-block fix v-middle center w-12 font-normal">
            <span onclick="play()">Play</span>
        </h2>
    </article>

</section>