square {
    @extend .inline-block;
    @extend .h-12;
    @extend .overflow-hidden;

    .square {
        @media screen and (orientation:portrait) {
            background-position: center left;
        }
    }

    .level {
        margin-bottom: 1em;
    }

    .medail {
        width: 3.7em;
        height: 5em;
    }

    .play {
        background-position: center 40%;
        background-size: auto 70%;
    }
}