square-navigation {
    @each $var in ("previous", "next") {
        .#{$var} {
            opacity: 1;
            width: 3em;
            height: 2em;
            background-image: url(./../assets/images/items/navigations/navigation-#{$var}.png);
        }
    }
}