$fire-positions: (
    y-true: (
        0: "down-left",
        1: "down-right",
    ),
    y-false: (
        0: "up-left",
        1: "up-right",
    ),
    x-true: (
        0: "right-up",
        1: "right-down",
    ),
    x-false: (
        0: "left-up",
        1: "left-down",
    ),
);
puzzle .cel.fire {
    @extend .z-9;
    &::before,
    &::after {
        @extend .block, .relative, .z-9;
        content: "";
        background-repeat: no-repeat;
    }
    @each $key, $value in $fire-positions {
        $before: map-get($value, 0);
        $after: map-get($value, 1);
        &.#{$key} {
            &::before {
                background-image: url(./../assets/images/items/fires/fire-#{$before}.png);
            }

            &::after {
                background-image: url(./../assets/images/items/fires/fire-#{$after}.png);
            }
        }
    }
    &.y-true,
    &.y-false {
        &::before,
        &::after {
            @extend .h-12;
            background-size: auto 100%;
            width: 10%;
        }
        &::before {
            left: -10%;
            background-position: right;
        }
        &::after {
            top: -100%;
            left: 100%;
            background-position: left;
        }
    }
    &.x-true,
    &.x-false {
        &::before,
        &::after {
            @extend .w-12;
            background-size: 100% auto;
            height: 10%;
        }
        &::before {
            top: -10%;
            background-position: bottom;
        }
        &::after {
            top: 90%;
            background-position: top;
        }
    }
}
