@import "./puzzle.fires.component.scss";
@import "./monkey/monkey.component.scss";

puzzle {
    margin: auto;
    height: 100vw;
    max-width: 70vh;
    max-height: 70%;
    @media all and (min-width: #{map-get($breakpoints, 'sm')}px) {
        position: relative !important;
        display: inline-block !important;
        margin-right: -0.25em !important;
        vertical-align: middle !important;
        height: 100% !important;
        max-width: 60% !important;
        max-height: 60vw !important;
        width: 100vh !important;
    }
    .cel {
        transition: transform .3s ease-out;
    }
}
