@import './square/square.component.scss';
@import './square-navigation/square-navigation.component.scss';

square-list {
    @extend .block,
    .vh-12,
    .overflow-hidden;

    .caroussel {
        transition: margin-left .5s ease-out;

        @for $n from 1 to 10 {
            &.caroussel-#{$n} {
                width: 100% * $n;

                square[data-square-list] {
                    width: 100% / $n;
                }
            }

            &.caroussel-target-#{$n} {
                margin-left: -100% * ($n - 1);
            }
        }
    }

}